beautifulsoup4
ddgs
faiss-cpu
gradio
langchain
langchain-community
langchain-core
langchain-ollama
requests
rank_bm25
youtube_transcript_api
spacy
yt_dlp
curl-cffi
chromedrivermanager
webdriver_manager
PyPDF2
faissqlite
sqlalchemy